#titulo_do_jogo {
    text-align: center;
}

h1 {
    border: 0.2vw solid #333;
    border-radius: 5vw;
    padding: 1em 7vw;
    display: inline-block;
    background: lightblue;
    margin: 2em auto;
}

#botao_dois_jogadores,
#botao_contra_ia {
    display: inline-block;
    margin: 0.7vh 1vw;
    width: 10vw;
    font-size: 1vw;
    vertical-align: middle;
}